<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        登録情報の編集
      </h1>
      <h2 class="subtitle">
         Welcome great caricature artist!
      </h2>
    </div>
  </div>
</section>