<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マッチングページ
      </h1>
      <h2 class="subtitle">
         I hope I'll have a close relationship with artists!
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="content has-text-centered">
    <div class="title is-4">貴方の求める絵に近いのはどちらですか？</div>
  </div>
</section>

<div class="flex-box">
  <div class="thumnail-left-box">
  <ul class="thumnail-right-box flex-box">
  <li><img id="left-image" src="https://cdn-common.skima.jp/item/043/051/43051/showcase-ee325765ff253587e908782ba0c189ab-20170707094921.jpeg">
  <li><img id="right-image" src="https://pbs.twimg.com/media/EiZ4TxlVoAEXXu2?format=jpg&name=medium">
  </ul>
</div>
