<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マッチングページ
      </h1>
      <h2 class="subtitle">
         I hope I'll have a close relationship with artists!
      </h2>
    </div>
  </div>
</section>

<div class="flex-box">
  <div class="thumnail-left-box">
  <ul class="thumnail-right-box flex-box">
  <li><div class="left-image"></div>
  <li><div class="right-image"></div>
  </ul>
</div>
