<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マッチングページ
      </h1>
      <h2 class="subtitle">
         I hope I'll have a close relationship with artists!
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="content has-text-centered">
    <div class="title is-4">貴方の求める絵に近いのはどちらですか？</div>
  </div>
</section>

<div class="flex-box">
  <div class="thumnail-left-box">
  <ul class="thumnail-right-box flex-box">
  <li><div class="left-image" id="left"></div>
  <li><div class="right-image" id="right"></div>
  </ul>
</div>
