<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <strong class="is-size-1" style="font-family: serif;">貴方の大切な人へ似顔絵をプレゼントしませんか？</strong>
        <br><br>
      </div>
    </div>
  </article>
  <br>
  <div class="content has-text-centered">
    <div class="title is-1" style="font-family: Arial Black;">10秒で</div>
    <div class="title is-3" style="font-family: Arial Black;">理想の似顔絵師をご紹介</div>
  </div>
  <div class="columns is-centered">
    <div class="column is-5">
      <br>
      <%= link_to "今すぐ診断を始める", "#", class: "button is-large is-rounded is-danger is-fullwidth" %>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>
