<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>


<%= link_to "新規登録", new_artist_registration_path, class: "button is-warning is-light" %>
<%= link_to "ログイン", new_artist_session_path, class: "button is-warning is-ligtht" %>
<%= link_to "ログアウト", destroy_artist_session_path, method: :delete, class: "button is-warning is-light" %>